// Fonts start

$volkovBold: 'Volkhov Bold 700';
$poppinsSemiBold600: 'Poppins SemiBold 600';
$poppinsMedium500: 'Poppins Medium 500';

// Fonts end

// Colors start

$white: #fff;
$black: #14183E;

$red: #FB1F61;
$darkGrey: #5E6282;


// Colors end

// Responsive variebles
$desc1440: 1450px;
$desc1024: 1024px;
$desc1025: 1025px;
$tablet768: 769px;